{% extends 'shares/lyback_dashboard.html' %}

{% block styles %}

<style>
    .card {
        border-color: #EDF2F9;
    }
    .feedback-sm {
        font-size: .84rem;
        padding-top: 10px;
        color: red;
    }
</style>

{% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="text-decoration-none">ทะเบียน</a></li>
        <li class="breadcrumb-item"><a href="/category" class="text-decoration-none">หมวดหมู่</a></li>
        <li class="breadcrumb-item active name_page" aria-current="page">เพิ่มหมวดหมู่</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <p><span class="me-2"><i class='bx bx-window-alt'></i></span><span class="name_page">เพิ่มหมวดหมู่</span></p>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <form method="POST" name="group">
                    <div class="mb-2">
                        <label class="col-form-label col-form-label-sm">รหัสหมวดหมู่</label>
                        <input type="text" name="groupid" id="groupid" class="form-control form-control-sm">
                        <span class="feedback-groupid feedback-sm"></span>
                    </div>
                    <div class="mb-2">
                        <label class="col-form-label col-form-label-sm">ชื่อหมวดหมู่</label>
                        <input type="text" name="groupname" id="groupname" class="form-control form-control-sm">
                        <span class="feedback-groupname feedback-sm"></span>
                    </div>
                    <div class="mb-2">
                        <label class="col-form-label col-form-label-sm">รายละเอียดเพิ่มเติม</label>
                        <textarea class="form-control form-control-sm" name="txtDescription" id="txtDescription" rows="3"></textarea>                  
                    </div>   
                </form>                
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-sm btn-success button-save"><span class="me-2"><i class='bx bx-save'></i></span>บันทึก</button>
                </div>     
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script>
    var myCollapse = document.getElementById('collapse2')
    var bsCollapse = new bootstrap.Collapse(myCollapse, {
        toggle: true
    })

    var navLink = document.querySelector('#sidemenu_content a[href="/category"]')
    navLink.classList.add("active");

    const params = new URLSearchParams(window.location.search);
    const mode = params.get('mode')
    if (mode == 'edit') {
        let id = params.get('id')
        let url = `/api/category/${id}`
        fetch(url)
        .then(response => response.json())
        .then(data => {
            const pages = document.querySelectorAll(".name_page");
            for (i = 0; i < pages.length; i++) {
                pages[i].innerHTML = "แก้ไขหมวดหมู่"
            }
            if (data.length > 0){
                document.getElementById('groupid').value = data[0]
                document.getElementById('groupid').setAttribute('readonly', true)
                document.getElementById('groupname').value = data[1]       
                document.getElementById('txtDescription').value = data[2]   
            }               
        });
    }

    document.querySelector('.button-save').addEventListener('click', function(){
        let valida = 0
        let id = document.getElementById('groupid').value
        let name = document.getElementById('groupname').value
        let description = document.getElementById('txtDescription').value

        if (id == ""){
            document.querySelector('.feedback-groupid').innerHTML = ""
            document.querySelector('.feedback-groupid').append('กรุณากรอกข้อมูล')
            valida = 1
        }else{ document.querySelector('.feedback-groupid').innerHTML = "" }

        if (name == ""){
            document.querySelector('.feedback-groupname').innerHTML = ""
            document.querySelector('.feedback-groupname').append('กรุณากรอกข้อมูล')
            valida = 1
        }else{ document.querySelector('.feedback-groupname').innerHTML = "" }

        if (valida == 1) { return; }

        var data = new FormData();
        data.append('Id', id);
        data.append('Name', name);
        data.append('Description', description);

        let option = {
            method: 'POST',
            body: data,
        }        

        Swal.fire({
            text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                
                fetch(`/category/savedata?mode=${mode}`, option)
                .then(response => response.json())
                .then(data => {
                    if (data == 'success'){
                        window.location.href = "/category"
                    }else{
                        Swal.fire({icon: 'error', text: 'ไม่สามารถบันทึกได้ !'})
                    }      
                });
            }
        })            
    })
</script>

{% endblock %}