.table.dataTable.no-footer {
    padding-top: 10px;
    border-bottom: none;
}
.table thead {
    background-color: #F9F9F9;
}
.table > thead > tr > th {
    border-bottom-width: 0;
    color: #443F3F;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 14px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
} 
.table > tbody tr td {
    padding: 15px 15px 10px 18px;
    color: #333232;
    font-size: 15px;
    font-weight: 500;
    word-break: break-word;
    border-color: #EEE;
    vertical-align: middle;
}
.table > tbody tr {
    border-top: none;
}
.table > tbody > tr:nth-child(even) {
    background: #F9F9F9;
}
.dataTables_length, .dataTables_filter, .dataTables_info {
    font-size: 15px;
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    border: 1px solid #eee;
    height: 35px;
    padding: 7px 15px;
    font-size: 13px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 100%;
    background-color: #fff;
    outline:none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #999 !important;
    background-color: #F6F6F6 !important;
    border-color: #eee !important;
    border-radius: 40px;
    margin: 5px 3px;
    font-size: 15px;
    padding: 3px 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #FFF !important;
    border: 1px solid #3D96F5;
    background: #4DA3FF;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFF !important;
    border-color: transparent !important;
    background: #007BFF !important;
}