<form method="post" name="confirmOrder">
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">เลขที่ออเดอร์
            {% if data.1 == 1 %}
            <span class="badge bg-danger ms-2">รอแจ้งชำระเงิน</span>
            {% elif data.1 == 2 %}
            <span class="badge bg-success ms-2">ชำระเงินแล้ว</span>
            {% elif data.1 == 3 %}
            <span class="badge bg-success ms-2">ชำระเงินปลายทาง</span>
            {% elif data.1 == 4 %}
            <span class="badge bg-primary ms-2">เตรียมจัดส่ง</span>
            {% elif data.1 == 5 %}
            <span class="badge bg-success ms-2">จัดส่งแล้ว</span>
            {% endif %}            
        </label>
        <input type="text" class="form-control" name="orderid" id="txtorderid" value="{{data.0}}">
    </div>
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">ชื่อผู้สั่งซื้อ</label>
        <input type="text" class="form-control" value="{{data.2}}">
    </div>
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">เบอร์โทร</label>
        <input type="text" class="form-control" value="{{data.3}}">
    </div>
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">ที่อยู่จัดส่ง</label>
        <textarea class="form-control" rows="3">{{data.4}}</textarea>
    </div>
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">เลขที่ขนส่ง</label>
        <input type="text" name="transport" id="txttransport" class="form-control" value="{{data.5}}">
        <span class="feedback-transport feedback-sm"></span>
    </div>
    <div class="mb-2">
        <label class="col-form-label col-form-label-sm">บริษัทขนส่ง</label>
        <select class="form-select" name="transportname" id="txttransportname">            
            <option value="">-- กรุณาเลือก --</option>     
            {% if data.6 == "Kerry" %}
            <option value="Kerry" selected>Kerry</option>
            {% else %}
            <option value="Kerry">Kerry</option>
            {% endif %}

            {% if data.6 == "Flash" %}
            <option value="Flash" selected>Flash</option>
            {% else %}
            <option value="Flash">Flash</option>
            {% endif %}

            {% if data.6 == "NinjaVan" %}
            <option value="NinjaVan" selected>NinjaVan</option>
            {% else %}
            <option value="NinjaVan">NinjaVan</option>
            {% endif %}

            {% if data.6 == "J&T" %}
            <option value="J&T" selected>J&T</option>
            {% else %}
            <option value="J&T">J&T</option>
            {% endif %}

            {% if data.6 == "EMS" %}
            <option value="EMS" selected>EMS</option>
            {% else %}
            <option value="EMS">EMS</option>
            {% endif %}
        </select>
        <span class="feedback-transportname feedback-sm"></span>
    </div>
    {% if data.1 != 5 %}
    <p class="text-primary col-form-label-sm">
        * ถ้าลูกค้า <strong>"ชำระเงินแล้ว"</strong> หรือ <strong>"ชำระเงินปลายทาง"</strong> ต้องกรอกเลขที่ขนส่ง และบริษัทขนส่งด้วยค่ะ
    </p>
    <div class="text-center mt-4">
        {% if data.1 == 1 %}
        <button type="button" class="btn btn-sm btn-success btn-save" disabled><span class="me-2"><i class='bx bx-check'></i></span>ยืนยันคำสั่งซื้อ</button>
        {% elif data.1 == 4 %}
        <button type="button" class="btn btn-sm btn-success btn-save" onclick="confirmTransport('{{data.0}}')"><span class="me-2"><i class='bx bx-check'></i></span>ยืนยันคำสั่งซื้อ</button>
        {% else %}
        <button type="button" class="btn btn-sm btn-success btn-save" onclick="confirm('{{data.0}}')"><span class="me-2"><i class='bx bx-check'></i></span>ยืนยันคำสั่งซื้อ</button>
        {% endif %}
    </div> 
    {% endif %}    
</form>