{% extends 'shares/lyback_dashboard.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/vendor/DataTables/DataTables-1.11.2/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/static/css/tables.css" />
<style>
    .card {
        border-color: #EDF2F9;
    }
    hr {
        color: #6C757D;
    }
</style>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">ทะเบียน</a></li>
        <li class="breadcrumb-item active" aria-current="page">หมวดหมู่</li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="mb-0"><span class="me-2"><i class='bx bx-category'></i></span>หมวดหมู่</p>
            <a href="/bn/frmgroup?mode=add" class="btn btn-sm btn-success"><span class="me-2"><i class='bx bx-add-to-queue'></i></span> เพิ่มหมวดหมู่</a>
        </div>        
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-warning col-form-label-sm" role="alert">
                    {{ msg }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="table-responsive">
            <table id="data-table-basic" style="width:100%" class="table">
                <thead>
                    <tr>
                        <th style="width:20%">รหัสหมวดสินค้า</th>
                        <th style="width:auto">ชื่อหมวดสินค้า</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td>{{x.0}}</td>
                        <td>{{x.1}}</td>
                        <td>
                            <a href="/bn/frmgroup?mode=edit&id={{x.0}}" class="text-decoration-none text-primary px-1"> <i class='bx bx-edit' ></i> </a>
                            <a href="/deletegroup/{{x.0}}" class="text-decoration-none text-danger px-1"> <i class='bx bx-trash' ></i> </a>
                        </td>
                    </tr>                     
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/vendor/DataTables/DataTables-1.11.2/js/jquery.dataTables.min.js"></script>
<script>
    var myCollapse = document.getElementById('collapse2')
    var bsCollapse = new bootstrap.Collapse(myCollapse, {
        toggle: true
    })

    var navLink = document.querySelector('#sidemenu_content a[href="/bn/productgroup"]')
    navLink.classList.add("active");

    $('#data-table-basic').DataTable();
</script>

{% endblock %}