{% extends 'shares/lyback_dashboard.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/plugins/DataTables/DataTables-1.11.2/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/static/css/tables.css" />
<style>
  .card {
    border-color: #EDF2F9;
  }

  hr {
    color: #6C757D;
  }
</style>
{% endblock %}

{% block content %}

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="text-decoration-none">รายการสั่งซื้อ</a></li>
        <li class="breadcrumb-item active" aria-current="page">รายการชำระเงิน</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="mb-0"><span class="me-2"><i class='bx bx-shopping-bag'></i></span> รายการชำระเงิน</p>   
      </div>        
      <hr>   
      <!-- tab content -->
      <div class="table-responsive">
        <table id="data-table-basic1" style="width:100%" class="table">
          <thead>
            <tr class="text-center">
              <th style="width:15%">วันที่ชำระเงิน</th>   
              <th style="width:15%">เลขที่ชำระเงิน</th>
              <th style="width:15%">เลขที่ออเดอร์</th>
              <th style="width:auto">ชื่อผู้สั่งซื้อ</th>        
              <th style="width:15%">ราคา</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            {% for x in data %}
              <tr>
                <td>{{x[0]}}</td>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td class="text-end">{{x[4]}}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm" onclick="modalClick('{{x[1]}}', '{{x[2]}}')">ดูข้อมูล</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="body_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <label class="col-form-label-sm fw-bold"><i class='bx bx-wallet-alt'></i><span class="ms-2">ข้อมูลการชำระเงิน</span></label>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="areaBody"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="/static/plugins/sweetalert2/sweetalert2.all.min.js"></script>
  <script src="/static/plugins/DataTables/DataTables-1.11.2/js/jquery.dataTables.min.js"></script>
  <script>
    var myCollapse = document.getElementById('collapse1')
    var bsCollapse = new bootstrap.Collapse(myCollapse, {
        toggle: true
    })

    var navLink = document.querySelector('#sidemenu_content a[href="/payment"]')
    navLink.classList.add("active");

    $('#data-table-basic1').DataTable({
      "displayLength": 10,
    });

    var myModal = new bootstrap.Modal(document.getElementById('body_modal'), {
      keyboard: false
    })

    function modalClick(id, order) {
      var data = new FormData();        
      data.append('PaymentId', id);
      data.append('OrderId', order);

      let option = { method: 'POST', body: data}
      fetch('/modal/payment', option)
      .then(response => response.json())
      .then(data => {
        var myModalEl = document.getElementById('body_modal')
        var modalBody = document.querySelector(".areaBody")
        modalBody.innerHTML = data.htmlresponse
        myModal.toggle()
      });
    }
  </script>

{% endblock %}